# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
RockDefence/Assets/Scenes/Scene01.unity
RockDefence/Assets/Scenes/Ofurscene-idhansBrynjar.unity.meta
RockDefence/Assets/Scenes/Ofurscene-idhansBrynjar.unity.meta
RockDefence/Assets/Sprites/Groupie.meta
RockDefence/Assets/Sprites/Groupie.meta
RockDefence/Assets/Sprites/Towers.meta

RockDefence/Assets/Scripts/StartButton.cs
